@use '../../styles' as *;


::ng-deep markdown pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #b4d8fb69;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid black;
}

::ng-deep .markdown-body {
    line-height: 0.1;
}

::ng-deep markdown img {
  max-width: 100%;
  height: auto;
}

::ng-deep markdown code:not(pre code) {
  background-color: #e6e6e6;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 5px;
}

.content-filename {
  margin-left: auto;
  text-align: left;
  padding-right: calc($contentPadding / 2);
  font-weight: 500;
  font-size: 30px;
}

.content {
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-right: calc($contentPadding / 2);
  text-align: left;
}

@media (max-width: 768px) {
  .content-filename {
    padding-top: 100px;
    width: 80%;
  }
  .content {
    width: 80%;
  }

  * {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
  }
}

@media (min-width: 768px) {
  .content-filename {
    padding-top: 50px;
    width: calc(100% - $fcWidth - $contentPadding);
  }

  * {
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
  }

  .content {
    width: calc(100% - $fcWidth - $contentPadding);
  }

}
